.plus-reduce {
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom: none !important;
  display: -webkit-box !important;
  .reduce {
    border-bottom: none !important;
    padding: 0 5px 0 15px;
    display: inline-block;
    img {
      border: 1px solid #222;
      border-radius: 50%;
      vertical-align: sub;
      width: 20px;
    }
  }
  .count {
    font-size: 20px;
    font-style: normal
  }
  .plus {
    border-bottom: none !important;
    padding: 0 15px 0 5px;
    display: inline-block;
    img {
      border: 1px solid #222;
      border-radius: 50%;
      vertical-align: sub;
      width: 20px;
    }
  }
}
